[Desktop Entry]
Name=Focusyn
GenericName=Clock
Comment=Gtk version from Focusyn pomodoro timer.
Categories=Utility;Clock;
Exec=focusyn-gtk
Icon=focusyn
Terminal=false
Type=Application
